.content{
	position: relative;
	margin-bottom: 120px;
	font-family: 'Pavanam', sans-serif;

}
.content h1{
	font-size: 100px;
	text-align:center;
	margin-bottom:20px;
	margin-top:40px;
	font-style: normal;
}

/* body */
.content p{
	font-size: 18px;
	margin-right: 0px;
	line-height:140%;
}

.intro a{
	text-decoration:none;
	color:#ec9640;
}

.intro a:hover{
	text-decoration: none;
	opacity: 0.3;
}

/* image */
img.about-img{
	max-width: 80%;
	max-height: 80%;
	margin-top: 30px;
	box-shadow: 8px 8px #ec9640;
}
figcaption{
	font-size: 10px;
	margin-top: 10px;
}