body, html{
	height: 100%;
	font-family: 'Pavanam', sans-serif;

}
header.home-img{
	background-image: url(../img/yellowwall.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	height: 100%;
	padding-bottom:30px;
}

header.home-img h1{
	font-size:100px;
	text-align:center;
	position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
	color:#102229;
	font-family: 'Pavanam', sans-serif;
}

/* header h2.sub{
	text-align:center;
	position: absolute;
	transform: translate(-50%, -50%);
	color:#102229;
	top: 55%;
	left: 50%;
	font-size:24px;
	font-family: 'Heebo', sans-serif;
}

header h2.super{
	text-align:center;
	position: absolute;
	transform: translate(-50%, -50%);
	color:#102229;
	top: 36%;
	left: 54%;
	font-size:27px;
	font-family: 'Pavanam', sans-serif;
} */
